USE [master]
GO
/****** Object:  Database [Datvetauhoa]    Script Date: 20/12/2021 7:30:57 PM ******/
CREATE DATABASE [Datvetauhoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Datvetauhoa', FILENAME = N'D:\SQLSV\MSSQL15.MSSQLSERVER\MSSQL\DATA\Datvetauhoa.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Datvetauhoa_log', FILENAME = N'D:\SQLSV\MSSQL15.MSSQLSERVER\MSSQL\DATA\Datvetauhoa_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Datvetauhoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Datvetauhoa]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_D0B4A991BDC54DD6820CA6207C4205B6]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE ROLE [MSmerge_D0B4A991BDC54DD6820CA6207C4205B6]
GO
/****** Object:  DatabaseRole [MSmerge_9873A85D5148499AA654FEBA6D9EF558]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE ROLE [MSmerge_9873A85D5148499AA654FEBA6D9EF558]
GO
/****** Object:  DatabaseRole [MSmerge_554EB5AE40DD448295EB0A3C2440DC74]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE ROLE [MSmerge_554EB5AE40DD448295EB0A3C2440DC74]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_D0B4A991BDC54DD6820CA6207C4205B6]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_9873A85D5148499AA654FEBA6D9EF558]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_554EB5AE40DD448295EB0A3C2440DC74]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[AD_User]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_User](
	[User_ad] [nvarchar](50) NOT NULL,
	[Pass_ad] [nvarchar](50) NULL,
	[Email_ad] [nvarchar](50) NULL,
	[Status_ad] [nchar](10) NULL,
	[Phone_Ad] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_AD_User] PRIMARY KEY CLUSTERED 
(
	[User_ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[MaChuyenTau] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenChuyenTau] [nvarchar](50) NOT NULL,
	[ThoigianChay] [nvarchar](50) NOT NULL,
	[GaDi] [nvarchar](50) NOT NULL,
	[GaDen] [nvarchar](50) NOT NULL,
	[SoVeToiDa] [nvarchar](50) NOT NULL,
	[MaTau] [nvarchar](50) NULL,
	[NgayDi] [nvarchar](50) NULL,
	[SoLuongVe] [nvarchar](50) NULL,
	[GiaVe] [int] NULL,
	[MaCN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Chuyentau] PRIMARY KEY CLUSTERED 
(
	[MaChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CN]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CN](
	[MaCN] [nchar](10) NULL,
	[TenCN] [nvarchar](max) NULL,
	[TTCN] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GaTau]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GaTau](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenGaTau] [nvarchar](50) NULL,
	[TTGaTau] [nvarchar](50) NULL,
	[TinhTrangGa] [nvarchar](50) NULL,
	[MaCN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GaTau] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MaKH] [int] NULL,
	[MaDatCho] [nvarchar](50) NULL,
	[NgayDat] [nvarchar](50) NULL,
	[TongTien] [nvarchar](50) NULL,
	[ThoiGianChay] [nvarchar](50) NULL,
	[LoaiGhe] [nvarchar](50) NULL,
	[Soluongve] [nvarchar](50) NULL,
	[TinhTrangHoadon] [nvarchar](50) NULL,
	[Gadi] [nvarchar](50) NULL,
	[Gaden] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[TenCT] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[LoaiTaiKhoan] [nvarchar](50) NULL,
	[SoDu] [nvarchar](50) NULL,
	[TenDayDu] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 20/12/2021 7:30:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TenTau] [nvarchar](50) NULL,
	[TTTau] [nvarchar](50) NULL,
	[TT] [nvarchar](50) NULL,
	[IDgatau] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Tau] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[AD_User]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_323584291]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_323584291] ON [dbo].[ChuyenTau]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1111675008]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1111675008] ON [dbo].[CN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_2095398584]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_2095398584] ON [dbo].[GaTau]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_887726265]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_887726265] ON [dbo].[HoaDon]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_885578193]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_885578193] ON [dbo].[NguoiDung]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_2127398698]    Script Date: 20/12/2021 7:30:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_2127398698] ON [dbo].[Tau]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AD_User] ADD  CONSTRAINT [MSmerge_df_rowguid_F9D5DE3CB8DF411C81A4A4807DBCD044]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[ChuyenTau] ADD  CONSTRAINT [MSmerge_df_rowguid_16B01F8AE99B4F34A79531FC5AD15AF2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CN] ADD  CONSTRAINT [MSmerge_df_rowguid_974E37834DB34140B74323844761AE42]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GaTau] ADD  CONSTRAINT [MSmerge_df_rowguid_620D852CFE344BA0BA3B82689B7CF663]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [MSmerge_df_rowguid_A83916B9EC7A45018A275C59F2D20B9F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [MSmerge_df_rowguid_D1EEB346452147D2AF00999960E756D6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Tau] ADD  CONSTRAINT [MSmerge_df_rowguid_E34DF3001CD3485490E3E2B8406ACF68]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_5BC48999_530B_45ED_AC45_9582FA6E3BA3] CHECK NOT FOR REPLICATION (([MaChuyenTau]>(46030) AND [MaChuyenTau]<=(47030) OR [MaChuyenTau]>(47030) AND [MaChuyenTau]<=(48030)))
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [repl_identity_range_5BC48999_530B_45ED_AC45_9582FA6E3BA3]
GO
ALTER TABLE [dbo].[CN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4426F89F_17FA_40DB_8072_6CDFF227B33A] CHECK NOT FOR REPLICATION (([id]>(3) AND [id]<=(1003) OR [id]>(1003) AND [id]<=(2003)))
GO
ALTER TABLE [dbo].[CN] CHECK CONSTRAINT [repl_identity_range_4426F89F_17FA_40DB_8072_6CDFF227B33A]
GO
ALTER TABLE [dbo].[GaTau]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_39BFB493_2414_48A4_A99F_FB956A6A4DD2] CHECK NOT FOR REPLICATION (([id]>(13) AND [id]<=(1013) OR [id]>(1013) AND [id]<=(2013)))
GO
ALTER TABLE [dbo].[GaTau] CHECK CONSTRAINT [repl_identity_range_39BFB493_2414_48A4_A99F_FB956A6A4DD2]
GO
ALTER TABLE [dbo].[HoaDon]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_58AE5C18_4222_40E7_B039_3F45F5D4C550] CHECK NOT FOR REPLICATION (([MaHD]>(46015) AND [MaHD]<=(47015) OR [MaHD]>(47015) AND [MaHD]<=(48015)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [repl_identity_range_58AE5C18_4222_40E7_B039_3F45F5D4C550]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_62A14F3B_E7F4_4E12_99F9_8067FF1D3FF9] CHECK NOT FOR REPLICATION (([Id]>(1002) AND [Id]<=(2002) OR [Id]>(2002) AND [Id]<=(3002)))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [repl_identity_range_62A14F3B_E7F4_4E12_99F9_8067FF1D3FF9]
GO
ALTER TABLE [dbo].[Tau]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4CFEEBFC_D807_42AB_823D_432CC191CAAE] CHECK NOT FOR REPLICATION (([id]>(8) AND [id]<=(1008) OR [id]>(1008) AND [id]<=(2008)))
GO
ALTER TABLE [dbo].[Tau] CHECK CONSTRAINT [repl_identity_range_4CFEEBFC_D807_42AB_823D_432CC191CAAE]
GO
USE [master]
GO
